* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat";
  font-size: 20px;
}

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(37, 37, 37);
  flex-direction: column;
  padding: 50px 0;
}

section h1, .login {
  text-align: center;
  color: rgba(255, 255, 255, 0.322);
  width: 100%;
  font-size: 50px;
  margin-bottom: 10px;
}

.form-control {
  text-align: center;
  color: rgba(255, 255, 255, 0.322);
  background: rgb(37, 37, 37);
  width: 40%;
  height: 350px;
  border: 5px solid rgba(255, 255, 255, 0.322);
  padding-top: 40px;
}

.container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  justify-content: center;
}

.texts>p{
  color: black;
  text-align: left;
  width: 100%;
  height:150px;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  margin-top:60px;
  margin-bottom: 10px;

}

.button{
  display:flex;
  justify-content:center;
  padding-top: 60px;
}

small {
  color: red;
  background: rgb(37, 37, 37);
}
